
.A{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #e8f0fe;
}

.B:nth-child(1){
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background:url(./anh/123456.png) no-repeat;
    background-color: #0e73d2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.C{
    text-align: center;
}
.C:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    width: 80%;
    height: 100%;
    color:white;
    float: left;
}
.C:nth-child(2){
    width: 20%;
    height: 100%;
    float: right;
}
.C a{
    text-decoration: none;
    color: white;
}
.C a:hover{
    text-decoration-line: underline;
    color: yellow;
}
.aa{
    background: #3ba1fc;
    color: white;
}
#table{
    width:850px;
    border-collapse:collapse;
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}
#table input{
    width:auto;
    border :none;
}
#table th,td{
    border:1px solid black;
}
#table tr:nth-child(odd){
    background-color: #96b4cf;
}
.B:nth-child(2) table tr td a{
    text-decoration: none;
}

.B:nth-child(2) table tr td:hover{
    background-color: white;
    color: black;
}
#table tr td a{
    text-decoration: none;
    color: black;
}
#table tr th a{
    text-decoration: none;
    color: black;
}
.center{
    height: auto;
    width: 100%;
}
.left{
    width: 13%;
    float: left;
}
.left1{
    width: 100%;
    border: 1px black solid;
    margin: 10px;
}
.cent{
    width: 70%;
    height: auto;
    float: left;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px 10px;
}
.left_1{
    background-color: #075c9f;
    color: white;
    border: 1px black solid;
}
.left_2 ul{
    list-style-type: none;
    padding: 2px;
    margin: 2px;
}
.left_2 ul li{
    padding: 0;
    margin: 0;
}
.left_2 ul li a{
    text-decoration: none;
    color: #075c9f;
}
.left_2 ul li:hover{
        text-decoration-line: underline;
}
.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #043d80;
}
.menu ul li{
    color: white;
    line-height: 40px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.menu ul li a:hover{
    text-decoration-line: underline;
    color: #002d62;
}
.ds{
    width: auto;
    height: auto;
    border: 10px;
    font-size: 25px;
    text-align: center;
    margin: 5px;
}
.tk{
    width: auto;
    border: auto;
    text-align: center;
    margin: 15px;
}
